body {
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #fcfafa;
    box-sizing: border-box;

}

/* shared styles */
.text-small {
    color: #534C64;
    font-size: .8rem;
    font-style: normal;
    font-weight: 400;

}

.gradient-text {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;

}

.bold-text {
    font-size: .8rem;
    font-weight: 600;

}

.btn-primary {
    border: none;
    display: inline-flex;
    padding: 16px 35px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}

.btn-2 {
    border: none;
    display: inline-flex;
    padding: 16px 35px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
}

button:hover {
    cursor: pointer;
}

/* nav section starts */
.nav-bar {
    display: flex;
    justify-content: space-around;
}

.about-us {
    width: 40%;
}

.about-us ul {



    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;

}

.about-us ul li a {
    text-decoration: none;
}

.about-us ul li:hover {
    cursor: pointer;
}

.about-us ul p {

    padding: 1rem;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    display: flex;
    gap: 1rem;
    cursor: pointer;

}

.single-char {

    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: transparent;
    -webkit-background-clip: text
}

.company-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.company-icon img {
    height: 2rem;
    object-fit: cover;

}

/* end of nav section */

/* banner section begins */
.banner-img img {
    max-width: 100%;
    max-height: 100%;
}

.banner-img {
    width: 50%;
}

.banner-descrip {
    width: 5rem;
    background-image: url('../images/Group\ 14.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 1rem 7rem;

}

.banner {

    display: flex;
    align-items: center;
    justify-content: space-around;

}

.banner-descrip h3 {
    font-size: 3rem;
    font-weight: 600;
}

.banner-descrip h1 {
    font-size: 5rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.banner-descrip {
    height: 30%;
    width: fit-content;
}


/* banner section ends */
/* online games funny videos section */
.video-cards {

    height: auto;
}

.card {

    height: auto;
    width: 13rem;
    position: relative;

}

.play-icon {
    padding: 15px;

    border-radius: 15px;
    background-color: white;


}

.video-cards {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.card img {
    max-width: 100%;


}

.funny-videos-heading {
    text-align: center;
    margin-top: 5rem;
}

.overlay {
    width: 13rem;

    border: 6px solid #F948B2;

    border-radius: 16px;
    height: 15.2rem;
    position: absolute;
    left: -3px;
    top: -3px;
    display: flex;
    justify-content: center;
    text-align: center;
    z-index: 2;
    align-items: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%);
    display: none;
}

.card:hover .overlay {
    display: flex;
    cursor: pointer;
}

/* end of funny video card section */

/* play online game section starts */
.online-game-img img {
    max-width: 100%;

}

.relative-img {
    width: 70%;
    position: relative;
}

.absolute-img {
    width: 50%;
    position: absolute;
    right: -7rem;
    bottom: -7rem;
}

.play-online-game {
    margin-top: 5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.play-online-game-descrip {
    width: 25%;


}

/* game genres section */
.game-genres {

    width: 90%;
    margin: 0 auto;
    margin-top: 10rem;
    display: grid;
    gap: 2rem;
    row-gap: 3rem;
    grid-template-columns: repeat(20, 1fr);
    grid-template-areas:
        'a a a a b b b b c c c c d d d d e e e e'
        'f f f f f g g g g g h h h h h i i i i i ';
    justify-content: center;
    align-items: center;

}

.action {
    grid-area: a;
}

.advanture {
    grid-area: b;
}

.arcade {
    grid-area: c;
}

.educational {
    grid-area: d;
}

.word {
    grid-area: e;
}

.role-play {
    grid-area: f;
}

.music {
    grid-area: g;
}

.puzzle {
    grid-area: h;
}

.strategy {
    grid-area: i;
}

.genre-icon {
    border: 0;

    border-radius: 2rem;
    display: flex;
    gap: .5rem;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.genre-icon img {
    height: 2.5rem;
    width: 2.5rem;
}

.genre-icon:hover {
    border: 2px solid #F948B2;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    padding: 3px 0;
    cursor: pointer;
}

/* footer section */


.white-text {
    color: #FFFFFF;
}

footer {
    width: 100%;
    height: auto;

    background: #0B0223;
    margin-top: 4rem;
    margin-bottom: -1rem;

}

.footer-nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
}


footer .company-icon {
    margin-top: 3rem;

}

.icon-color-f {
    height: fit-content;
    color: white;
    background-color: #1877F2;
    border-radius: 50%;
    font-size: 1.5rem;
}

.icon-color-t {
    height: fit-content;
    background-color: white;
    font-size: 1.5rem;


}

.icon-color-y {
    height: fit-content;
    color: white;
    background-color: red;
    font-size: 1.5rem;

}

.footer-icon {
    display: flex;
    justify-content: center;
    gap: 2rem;


}

.footer-icon button {
    padding: 0;
    border: 0;
    border-radius: 50%;
}

.footer-text {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.bottom-text {
    height: 6rem;
}

/* footer ends */



/* mobile responsive */
@media screen and (max-width: 576px) {


    /* nav section */
    .nav-bar {
        flex-direction: column;
        align-items: center;
    }

    .about-us {

        width: fit-content;
    }

    .about-us ul {


        flex-direction: column;
        gap: 2rem;
    }

    /* banner section */
    .banner {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        ;
        gap: 2rem;

    }

    .banner-img {
        width: 80%;



    }

    .banner-descrip {
        width: 80%;
        padding: 1rem;
        border-radius: 10px;
    }

    /* funny video section */
    .video-cards {
        width: 60%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 auto;


        gap: 4rem;
    }

    .card {
        width: fit-content;
        margin: 0 auto;
    }

    .funny-videos-heading {
        width: 100%;

    }

    .overlay {
        width: 97%;
        height: 85%;
    }



    /* play online game section */


    .play-online-game {
        margin: 1px auto;

        flex-direction: column-reverse;
        text-align: center;
        gap: 4rem;

    }

    .play-online-game-descrip {
        width: 100%;
        text-align: center;
    }

    .relative-img {
        width: 75%;
        margin: 0 auto;
    }

    .absolute-img {
        right: -3rem;
        bottom: -3rem;

    }



    /* game genre section */
    .game-genres {
        width: 90%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            'a b c'
            'd e f'
            'g h i';
    }

    .bold-text {
        font-size: .6rem;
        gap: .2rem;
    }

    /* footer */
    .footer-nav {
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 1rem;
    }

    .footer-text {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 1rem;
    }

    .bottom-text p {
        width: 46%;
        margin: 1rem auto;

    }

}





/* tab responsive */
@media screen and (min-width:577px) and (max-width:850px) {

    /* nav section */
    .about-us {
        width: 65%;
    }

    /* banner section */
    .banner {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 3rem;

    }

    .banner-img {
        width: 90%
    }

    .banner-descrip {
        width: fit-content;
        padding: 0px;





    }

    .banner-descrip>div {

        margin-left: 4rem;
    }

    /* funny video section */
    .video-cards {
        width: 95%;
        margin: 0 auto;

    }

    .overlay {
        width: 100%;
        height: 70%;
    }

    /* play online games section */

    .play-online-game {

        width: 100%;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .play-online-game-descrip {
        width: 90%;
        text-align: center;

    }

    .relative-img {

        margin: 0 auto;
    }
}